  <section id="content">
   
      
      <div class="row-fluid">
        <div class="span12">

<div class="row-fluid text-center">
  <h1> Forums </h1><br><br>
</div> <!ends first row> 

<div class="row-fluid">
  <div class="span1">
  </div> <! offset >
    <div class="span3 boxed">
    <h2><i class="icon-comments-alt"> </i> Ask A Question!</h2>
    <p>The Forum is here for you to share or find information. Ask a question, start a debate, post a tip, or just say what's on your mind. </p>
    </div><! ends 3 cols>
<div class="span7">  

  <% @mains.each do |main| %>
  <h2><%= main.topic.capitalize %></h2> 
    

  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Posted by</th>
            <th>Date</th>
            <th>Options</th>
          </tr>
        </thead>
       <% main.forums.each do |forum|  %>
        <tbody>
            <tr>
              <td><%= link_to forum.title, forum %></td>
              <td> <%= User.find(forum.user_id).firstname %> </td>
              <td> <%= l forum.created_at, format: :short %> </td>
              <td> <% if current_user.id == forum.user_id %>
                <%= link_to 'Edit', edit_forum_path(forum) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Topic', new_forum_path(:main => main.id), class: "btn-main-small" %><br><br><br>
      <hr>
<%end %>
      <br>



      

<br><br>

      <%= form_for @mainnew do |f| %> 

      <%= f.text_field :topic %>
      <%= f.submit "Add new Main Topic", :class => "btn-dark-sm" %>
     
      <% end %> 

      <br><br>
</div> <! ends 7 cols for table >
  <div class="span1">
  </div>
</div> <br><br><br><! ends row>



</div>
</div></section>
