<h4> <%= @forum.title %></h4>

<div class="content"><%= @forum.content %></div><br><br>

<% if @replies.size > 0  %>
<br> Replies:<br><br>
<% @replies.each_with_index do |reply, index| %>
  <div class="inl"><%= index+1 %>.</div><div class="rep"><%=  reply.content %><br>
  Posted by: <%= reply.user.firstname %><br>
</div><br>
<% end %>
<%end%>  

<br><br>
<%= link_to "Add New Comment", new_reply_path(:fid => @forum.id), :class=> "btn btn-md" %> |



<% if current_user.id == @forum.user_id %>
          <%= link_to 'Edit Topic', edit_forum_path(@forum) %> |
           <% end %>
<%= link_to 'Back', forums_path %>
