<!DOCTYPE html>
<html>
<head>
  <title>FlatironAlumniApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel='stylesheet' id='google_merriweather-css'  href='http://fonts.googleapis.com/css?family=Merriweather:400,700&ver=3.5' type='text/css' media='all' />
</head>
<body>
  <div class="main-wrapper">
    <div class="header-wrapper">
      <div class="header">
        <div class="header-left">
          <a href="http://flatironschool.com/" title="The Flatiron School">
            <h1 class="logo-text">
                <object id="bigify" data="img/flatiron-logo-high-res.svg" type="image/svg+xml" class="logo"><%= image_tag("flatiron-logo-high-res.svg", type: "image/svg+xml", class: "logo")%>
              </object>
              <object id="minify" data="img/flatiron-horz-logo-high-res.svg" type="image/svg+xml" class="logo">
              </object>
            </h1>
          </a>
        </div>
        <div class="header-right">
          <div class="menu-header-container">
            <ul id="nav" class="nav">
              <li class="menu-item">
                <%= link_to "Dashboard", employer_path %>
              </li>
              <li class="menu-item">
                <%= link_to "Browse Profiles", main_app.alumni_path %>
              </li>
              <li class="menu-item">
                <%= link_to "Post Job", new_job_path %>
              </li>
              
              
      
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div id="sections" class="clearfix">
<!--       <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <!-- sign in -->
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', main_app.edit_user_registration_path %> |
          <%= link_to "Logout", main_app.destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", main_app.new_user_registration_path %> |
          <%= link_to "Login", main_app.new_user_session_path %>
          <p><%= link_to "Sign in with LinkedIn", main_app.user_omniauth_authorize_path(:linkedin) %></p>
        <% end %>
