<head>
  <script>
function validateForm()
{
var x=document.forms["emp_prof"]["user[firstname]"].value;
if (x==null || x=="")
  {
  alert("First name must be filled out");
  return false;
  }
var y=document.forms["emp_prof"]["user[lastname]"].value;
if (y==null || y=="")
  {
  alert("Last name must be filled out");
  return false;
  }
}
</script>
</head>
<section id="content">
  <div class= "container">
    <div class="row-fluid">
      <div class="span12">

      <h3>Edit Employer Profile </h3>
      <%= form_for @emp, :url => update_employer_path, :html => { :id => "emp_prof", :onsubmit => "return validateForm()" } do |f| %>
        <h4>First Name:</h4>
        <%= f.text_field :firstname %>
       <h4>Last Name: </h4>
        <%= f.text_field :lastname %>
       <h4>Company: </h4>
       <%= f.text_field :company %>
       <h4>Email: </h4>
       <%= f.text_field :email %>  
        <%= f.hidden_field :id, :value => @emp.id %>
        <br>
       <%=f.submit 'Update Profile', class: "btn" %>
      <% end %>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/bottom_section' %>

