<section id="blog">
  <div class="row-fluid">
    <div class="span12">




<head>
  <script>
function validateForm()
{
var x=document.forms["emp_prof"]["user[firstname]"].value;
if (x==null || x=="")
  {
  alert("First name must be filled out");
  return false;
  }
var y=document.forms["emp_prof"]["user[lastname]"].value;
if (y==null || y=="")
  {
  alert("Last name must be filled out");
  return false;
  }
}
</script>
</head>

<h3> New Employer Profile </h3>

<table class="newemp">
  
 <tbody>


<%= form_for @emp, :url => updy_emp_path, :html => { :id => "emp_prof", :onsubmit => "return validateForm()" } do |f| %>
  <tr><td class="emp">First Name:</td><td> <%= f.text_field :firstname %></td></tr>
 <tr><td class="emp"> Last Name: </td><td><%= f.text_field :lastname %></td></tr>
 <tr><td class="emp"> Company: </td><td><%= f.text_field :company %></td></tr>
 <tr><td class="emp"> Email: </td><td><%= f.text_field :email %></td></tr>
  
  <%= f.hidden_field :id, :value => @emp.id %>
 <tr><td> <%=f.submit 'Update Profile' %></td><td></td></tr>
 </tbody>
</table>

<% end %>


</div>
</div>
</section>


