<head>
  <script>
function validateForm()
{

var y=document.forms["emp_prof"]["user[company]"].value;
if (y==null || y=="")
  {
  alert("Company name must be filled out");
  return false;
  }
}
</script>
</head>

<section id="content">
  <div class= "container">
    <div class="row-fluid">
      <div class="span12">

      <h3>Edit Employer Profile </h3>
      <%= form_for @emp, :url => update_employer_path, :html => { :id => "emp_prof", :onsubmit => "return validateForm()" } do |f| %>
        <h4>First Name:</h4>
        <%= f.text_field :firstname %>
       <h4>Last Name: </h4>
        <%= f.text_field :lastname %>
        <% if @emp.company.nil? %>
          <h4><em> <%= "Please add a company name to your profile" %><em></h4>
        <% else %>
          <h4><%= "Company: " %></h4>
        <% end %>  
       <%= f.text_field :company %>
       <h4>Email: </h4>
       <%= f.text_field :email %>  
        <%= f.hidden_field :id, :value => @emp.id %>
        <br><br>
       <%=f.submit 'Update Profile', class: "btn" %>
      <% end %>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Post Title</th>
              <th>Deadline</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @emp.jobs.each do |job| %>
            <tr>
              <td><strong><%= link_to job.title, job_path(job) %></strong></td>
              <td><%= job.deadline %></td>
              <td><%= link_to 'Delete Job Post', @job, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Show Job Post', @job %>
            </tr>
            <% end %>
          </tbody>
        </table>

   
          
      </div>
    </div>
  </div>
</section>
<%= render 'shared/bottom_section' %>

