


<h2>Browse Profiles</h2>
    <% @users.each_with_index do |user, index| %>
    

              <% if  index.even? %>
              
                <div class="rgthcol">
                <h3><%= user.name %></h3>
                 <h3><%= user.current_employer %></h3>
                  <p>Location: <%= user.location %></p>
                  <h4>Info:</h4>
                  <p><%= link_to "LinkedIn Profile", user.linkedin %></p>
                  <p><%= link_to "Github Repositories", user.github %></p>
                  <p><%= link_to user.blog_name, user.blog_url %></p>
                  <p><%= link_to 'See Full Student Profile', user_path(user), class: "btn btn-md" %></p>
                </div>

                <% else %>
                <div class="lfthcol">
                <h3><%= user.name %></h3>
                 <h3><%= user.current_employer %></h3>
                  <p>Location: <%= user.location %></p>
                  <h4>Info:</h4>
                  <p><%= link_to "LinkedIn Profile", user.linkedin %></p>
                  <p><%= link_to "Github Repositories", user.github %></p>
                  <p><%= link_to user.blog_name, user.blog_url %></p>
                  <p><%= link_to 'See Full Student Profile', user_path(user), class: "btn btn-md" %></p>
                </div>
                <%end%>

    

    <% end %>


