<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>State</th>
      <th>Linkedin</th>
      <th>Twitter</th>
      <th>Github</th>
      <th>Class</th>
      <th>Unique</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.firstname %></td>
        <td><%= student.lastname %></td>
        <td><%= student.user.email %></td>
        <td><%= student.city %></td>
        <td><%= student.state %></td>
        <td><%= student.linkedin %></td>
        <td><%= student.twitter %></td>
        <td><%= student.github %></td>
        <td><%= student.class %></td>
        <td><%= student.unique %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
