<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @student.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @student.twitter %>
</p>

<p>
  <strong>Github:</strong>
  <%= @student.github %>
</p>

<p>
  <strong>Class:</strong>
  <%= @student.class %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @student.unique %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
