<section id="content">
  <div class="container">
    
    <div class="row-fluid">
      <div class="span12">

<h2>Current openings</h2>

<% count = @jobs.all.size %>
 <% i = 0 %>
<% while i != count %>
<div class="row-fluid">
 
    <div class="span6"> 
      <ul class="unstyled pricing-table text-center">
      <li class="headline">
    <h2><i class="icon-lightbulb">  </i>  <%= link_to @jobs[i].title, @jobs[i] %></h2>
    </li>
    <li class="price"><%= @jobs[i].description[0, 200] %>... </li>
    <li class="info">Posted by: <%= User.find(@jobs[i].user_id).firstname %></li>
    <li class="features first">Apply by: date <i class="icon-envelope"></i> <%= @jobs[i].contact%></li>    
    </ul>      
  </div>
  <div class="span6">
    <ul class="unstyled pricing-table active text-center">
      <li class="headline">
    <h2><i class="icon-lightbulb">  </i>  <%= link_to @jobs[i+1].title, @jobs[i+1] %></h2>
    </li>
    <li class="price"><%= @jobs[i+1].description[0, 200] %>... </li>
    <li class="info">Posted by: <%= User.find(@jobs[i+1].user_id).firstname %></li>
    <li class="features first">Apply by: date <i class="icon-envelope"></i> <%= @jobs[i+1].contact%></li>    
    </ul>      


  </div>
    <div class="span1">
  </div>
</div>

<% i+=2 %>

<% end %>



 <% if current_user.employer == true %>
        <%= link_to 'Post a New Job', new_job_path %>
        <% end %>
<hr>











    
    </div>
  </div>
</section>