
 <section id="content">
    <div class="row-fluid">
        <div class="span12">

<h1>Create new a new job posting</h1>
<br><br>

<% if !current_user || current_user.employer == false %>
<br>
You Don't have permission to Post a Job:(

<% else %>


<%= form_for(@job) do |f| %>

<div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span2">
 <h2> Enter Job Tilte:</h2>    
  </div>
  <div class="span6">
    <%= f.text_field :title, style: "width:550px;" %>
</div>
  <div class="span3">

 </div> 
 </div>  

 <div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span2">
   <h3>Enter Description:</h3>    
  </div>
  <div class="span4">
    <%= f.text_area :description, style: "width:550px; height:250px;" %><br>
</div>
  <div class="span4">
       
    <%= f.hidden_field :user_id, :value => current_user.id %>
 </div> 
 </div>  

  <div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span2">
   <h3>Application Deadline:</h3>

  </div>
  <div class="span4 select">
    <%= f.date_select :deadline %><br>
</div>
  <div class="span4">
       
    <%= f.hidden_field :user_id, :value => current_user.id %>
 </div> 
 </div>  


  <div class="row-fluid">
  <div class="span1">
  </div>
  <div class="span2">
  <h5>Contact Email / Phone Number:</h5>    
  </div>
  <div class="span6"> <%= f.text_field :contact, value: current_user.email, style: "width:550px;" %><br>
  <br> <%= f.submit "submit", class: "btn-dark-sm"  %> <%= link_to 'Back', jobs_path, class: "btn-dark-sm"  %>
</div>
  <div class="span3">
       

 </div> 
 </div>    

     
  </div>
</div>

    <% end %>

<% end %>


<section id="brec">
  <div class="image-break"> </div>
</section>
<section id="message">
<div class="container">
<div class="row-fluid">
<div class="span12 text-center">
<h2>Never doubt that a small group of thoughtful, committed people can change the world.  Indeed, it is the only thing that ever has.  ~ Margaret Meade</h2>
</div>
</div>
</div>
</section>

</div>
</div>
</section>