
<h1>Create new job posting</h1>

<% if !current_user || current_user.employer == false %>
<br>
You Don't have permission to Post a Job:(

<% else %>
    <%= form_for(@job) do |f| %>

      Enter Job Tilte: <%= f.text_field :title %><br>
      Enter Description: <%= f.text_field :description %><br>
      Enter Contact Email Or Phone Number: <%= f.text_field :contact, value: current_user.email %>
      <%= f.hidden_field :user_id, value: current_user.id  %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
<%end%>

<%= link_to 'Back', jobs_path %>

