<section id="content">
  <div class="container"> 
    <div class="row-fluid">
      <div class="span12"> 
        <h1>New Job Posting</h1>
        <br>
        <% if !current_user || current_user.employer == false %>
          <br>
          You Don't have permission to Post a Job:(
        <% else %>
          <% if @job.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

              <ul>
              <% @job.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="span8">
          <%= render 'form' %>
      </div>
      <div class="span4">
        <%= image_tag("lapt.png", :class => "padded") %>
      </div>
    </div>

  </div>
</section>

<%= render 'shared/bottom_section' %>
