
<!--Content Section One-->
  <section id="blog">
    <div class="container">

      <div class="well well-sm">
        <strong>Search Students by Name: </strong>
        <%= form_tag users_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
        <% end %>
        <%= link_to "Advanced Search", new_search_path %>
      </div>
      
      <div class="row-fluid">
          
        <!--Blog Article Container-->
        <div class="span12 article-container">
          
          <% @users.each do |user| %>
          <!--Alumnus Summary -->
          <div class="well well-sm">
            <div class="row-fluid blog-article">
              <div class="span7 offset1">
                <h2><%= user.name %></h2>
                <%= image_tag(user.profile_image, :size => "200x200", :alt => "Student Profile Image") %>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br />
                
                <p><%= link_to 'See Full Student Profile', user_path(user), class: "more" %></p>
              </div>

              <!--Right Side Bar-->
              <div class="span3 sidebar-container">
                <h3><%= user.current_employer %></h3>
                <p>Location: <%= user.location %></p>
                
                <h3>Links</h3>
                <ul class="unstyled blog-links">
                  <li><%= link_to "LinkedIn Profile", user.linkedin %></li>
                  <li><%= link_to "Github Repositories", user.github %></li>
                  <li><%= link_to "Twitter", user.twitter %></li>
                  <li><%= link_to user.blog_name, user.blog_url %></li>
                </ul>
              </div><!--End Single Alumnus Container-->
            </div>
            
          </div><!--End Span-->
          <% end %>
        </div>
        
        <div class="pagination">
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
          </ul>
        </div>

      </div>
    </div>
  </section>


