  <div class="well">
  	<h2><%= @user.name %></h2>
  	<div class="row">
			<div class="col-md-6">
				<h2>< image_tag(@user.image) ><h2>
        <h3>< user.current_employer ></h3>
        <p>Location: <%= @user.location %></p>
     	</div>
			<div class="col-md-6">
				<h4>Info:</h4>
				<p>LinkedIn: <%= @user.linkedin %></p>
				<p>Blog: < @user.blog ></p>
				<p>Github: <%= @user.github %></p>
				<p>Twitter: <%= @user.twitter %></p>
			</div>
  	</div>
