  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="row-fluid">
        
        <div class="span4">
          <div class="control-group">  
            <div class="controls">  
              <%= f.text_field :name, placeholder: "Project Name", class: "input-block-level" %> 
            </div>  
          </div>  
          <div class="control-group">  
            <div class="controls">  
              <%= f.text_field :client, placeholder: "Client", class: "input-block-level" %>
            </div>  
          </div>
          <div class="control-group">  
            <div class="controls">  
              <%= f.text_field :url, placeholder: "Project URL", class: "input-block-level" %> 
            </div>  
          </div>
         </div>
         
        <div class="span8">
          <div class="control-group">  
            <div class="controls">  
              <!-- <textarea name="contact_message" id="input4" class="input-block-level" rows="8" placeholder="The message you want to send to me."></textarea>   -->
              <%= f.text_area :description, class: "input-block-level", rows: "5", placeholder: "A good project write-up should include the context it was created (school/work/personal), what technologies are demonstrated, and any specific challenges or interesting features." %> 
            </div>
            <div class="controls">
              <%= f.label :attachment, "Project Cover image", class: "input-block-level" %>
              <p> Your photo will be resized accordingly, but it is recommended to use (approximately) a 2:1 width to height ratio to avoid distortion </p> 
              <%= f.file_field :attachment, class: "input-block-level" %>
            </div>         
          </div>  
        </div> 

        <div class="text-right">  
            <!-- <input type="hidden" name="save" value="contact"> -->  
            <!-- <button type="submit" class="m-btn">Submit</button>  -->
        <%= f.submit 'Create Project' %>
        </div>
            
      </div>
          
    </div><!-- End Row -->
      <!-- </form> -->
  <% end %> 


        
