  <!-- project update details form --> 
  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="row-fluid">
        
        <div class="span6">
          <h3> Basic Info: </h3>
          <div class="control-group">  
            <div class="controls">  
              <!-- <input type="text" class="input-block-level" name="contact_name" id="input1" placeholder="Your name">  -->
              <%= f.text_field :name, class: "input-block-level" %> 
            </div>  
          </div>  
          <div class="control-group">  
            <div class="controls">  
              <!-- <input type="text" class="input-block-level" name="contact_email" id="input2" placeholder="Client"> --> 
              <%= f.text_field :client, class: "input-block-level" %> 
            </div>  
          </div>
          <div class="control-group">  
            <div class="controls">  
              <!-- <input type="text" class="input-block-level" name="contact_subject" id="input3" placeholder="URL (if deployed)"> --> 
              <%= f.text_field :url, class: "input-block-level" %> 
            </div>  
          </div>
          <div class="control-group">  
              <div class="controls">  
                <%= f.label :description %>
                <%= f.text_area :description, class: "input-block-level", rows: "5", placeholder: "Project Description" %> 
              </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="span4"> 
                <%= image_tag @project.attachment_url(:teensy) %>  
              </div>
              <div class="span8">
                <%= f.label :attachment, "Project Cover image" %> 
                <%= f.file_field :attachment %>
              </div>
            </div>        
          </div>
 
          <div class="text-left">  
            <%= f.submit 'Update Project' %>
          </div>
    <% end %>   
        </div>

        <div class="span6">
          <h3> Gallery Photos </h3>
          <% if @project.project_pictures.count > 0 %>  
          <table>
            <tr>
            <% @project.project_pictures.each do |p| %>
            <td><%= image_tag p.attachment_url(:teensy) %> <br> <%= link_to "delete", remove_image_path(@project, p) %> </td>
            <% end %> 
          </tr>
          </table>
          <% else %> 
          <p> Upload screenshots of your project for the slideshow </p>
          <% end %> 
          <%= form_for(@project_picture) do |f| %> 
          <%= f.file_field :attachment %> 
          <div class="text-left">
          <%= f.submit "Add new zhoto", class: "btn" %> 
          </div>
          <% end %> 
          <h3> Add Your Contribution: </h3>
          <%= form_tag("/projects/#{@project.id}/add_contributor", method: "get") do %>
          <div class="add-contribution">
            <div class="field">
              <%= text_area_tag :contribution, "", class: "input-block-level", :rows => 5, :cols => 100 %>
            </div>
          </div><br>
          <div class="actions">
            <%= submit_tag %>
          </div>
          <% end %> 
        </div>

      </div>
          
      


        
