 <!--Main Content-->
  <section id="content">
    <div class="container">
      
      <div class="row-fluid">
        <div class="span9">
          <h2>Flatiron Projects</h2>
        </div>
        <div class="span3 text-center">
          <br>
          <% if current_user.employer != true %> 
          <p><em><%= link_to 'Create a New Project', new_project_path %></em></p>
          <% end %> 
        </div>
      </div>
      <div class="text-center">
            
        <!--Project Thumbnail (3 per row)-->
        <% @projects.each do |project| %>
        <div class="span4 thumbs">
          <% if !project.attachment.blank? %> 
          <%= image_tag project.attachment_url(:thumb) %> 
          <% else %> 
          <%=image_tag("portfolio1.jpg", alt: "Image Size 430x280") %>
          <% end %> 
            <span class="title">
              <span><%= link_to project.name, project %></span>
            </span> 
        </div>
        <% end %>


      </div><!--End Row of Work-->      
      
    </div>
  </section>

<%= render 'shared/bottom_section' %>


