<h1>Flatiron Projects</h1>

    <% @projects.each do |project| %>
      <div class="well">
        <h3>Project: <%= project.name %></h3>
        <p>
          <strong>Description:</strong> <%= project.description %>
        </p>
        <p><%= link_to 'Show', project %>  |  
        <%= link_to 'Edit', edit_project_path(project) %>  |  
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>

<br>

<%= link_to 'Create a New Project', new_project_path %>
