  <!--Main Content-->
  <section id="content">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          
          <!--Bread Crumbs-->
          <ul class="breadcrumb">
            <li><a href="#">Home</a> <span class="divider">/</span></li>
            <li><a href="#">Projects</a> <span class="divider">/</span></li>
            <li class="active"><%= @project.name %></li>
          </ul>
        </div>
      </div>

      <p id="notice"><%= notice %></p>
      
      <div class="row-fluid">
        <div class="span12">
          <h2><%= @project.name %></h2>
        </div>
      </div>
      
      <div class="row-fluid">
        <div class="span9">
          <div id="work" class="carousel slide">
            <div class="carousel-inner">
              
              <!--Item One-->
              <div class="item active">
                <%= image_tag("pic1.jpg", alt: @project.name)%>
              </div>
              
              <!--Item Two-->
              <div class="item">
                <%= image_tag("pic2.jpg", alt: @project.name)%>
              </div>
              
              <!--Item Three-->
              <div class="item">
                <%= image_tag("pic3.jpg", alt: @project.name)%>
              </div>
              
            </div>
            <a class="left carousel-control" href="#work" data-slide="prev"><i class="icon-angle-left"></i></a>
            <a class="right carousel-control" href="#work" data-slide="next"><i class="icon-angle-right"></i></a>
          </div><!-- /.carousel -->      

        </div>
        
        <!--Insert Project Details-->
        <div class="span3">
          <p class="lead">Project Info</p>
          <p><%= @project.description %></p>
          <br />
          <p class="lead">Details</p>
          <p>Concept, Design, Branding, Development</p>
          <br />
          <a class="btn-main-small" href="#"><i class="icon-chevron-right"></i> Launch Project</a>
          <br><br>
          <small><%= link_to 'Edit Details of Project', edit_project_path(@project) %></small>
        </div>
      </div>
            
    </div>
  </section> 

    <!--Clients Section-->
  <section id="team">
    <div class="container">  
      <div class="row-fluid">
        <div class="span12">
          <h2>Project Contributors:</h2>
        </div>
      </div>
      <div class="row-fluid">
        <!--Contributors-->
         <% @project.project_contributors.each do |project_contributor| %>
        <div class="span3">
          <!-- <img src="img/team1.jpg" alt="Title"> -->
          <%=image_tag("team1", alt: project_contributor.user.name) %>
          <div class="title-box text-center">
            <p><%= project_contributor.user.name %></span></p>
            <p><%= project_contributor.contribution  %></p>
          </div>
          
          <ul class="team-social-icons text-center">
              <li><a class="twitter" href="http://www.twitter.com/themearmada" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
              <li><a class="facebook" href="http://www.facebook.com" target="_blank"><i class="icon-facebook icon-large"></i></a></li>
              <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="icon-camera-retro icon-large"></i></a></li>
              <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="icon-linkedin icon-large"></i></a></li>
          </ul> 
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>




