  <!--Main Content-->
  <section id="content">
    <div class="container">

      <p id="notice"><%= notice %></p>
      
      <div class="row-fluid">
        <div class="span12">
          <h2><%= @project.name %></h2>
        </div>
      </div>
      
      <div class="row-fluid">
        <div class="span9">
          <% if @project.project_pictures.size == 0 %> 
            <% if !@project.attachment.blank? %> 
              <%= image_tag @project.attachment_url(:full_size)%>
            <% else %> 
              <%= image_tag("pic2.jpg") %> 
            <% end %> 
          <% elsif @project.project_pictures.size > 0 %>
          <div id="work" class="carousel slide">
            <div class="carousel-inner">
              
              <!--Item One--> 
               
              <div class="item active">
                <% if !@project.attachment.blank? %> 
                  <%= image_tag @project.attachment_url(:full_size) %>
                <% else %> 
                  <%= image_tag("pic2.jpg") %> 
                <% end %> 
              </div>

              <% @project.project_pictures.each do |picture| %>
              <div class="item">
                <%= image_tag picture.attachment_url(:full_size) %> 
              </div>
              <% end %> 
              
              <!--Item Two-->
              <!-- <div class="item">
                <%#= image_tag("pic2.jpg", alt: @project.name)%>
              </div>
              
              <!--Item Three
              <div class="item">
                <%#= image_tag("pic3.jpg", alt: @project.name)%>
              </div> -->
              
            </div>
            <a class="left carousel-control" href="#work" data-slide="prev"><i class="icon-angle-left"></i></a>
            <a class="right carousel-control" href="#work" data-slide="next"><i class="icon-angle-right"></i></a>
          </div><!-- /.carousel -->      
          <% end %> 
        </div>
        
        <!--Insert Project Details-->
        <div class="span3">
          <p class="lead">Client</p>
          <p><%= @project.client %></p>
          <br />
          <p class="lead">Project Info</p>
          <p><%= @project.description %></p>
          <% unless @project.gitrepo == nil %>
          <p><%= link_to 'Visit Public Git Repository', @project.gitrepo %></p>
          <% end %>
          <br />
          <a class="btn-main-small" href="<%= @project.url %>"><i class="icon-chevron-right"></i> Visit Project</a>
          <br />
          <br />
          <% if current_user.employer != true %>
          <small><%= link_to 'Edit Details of Project', edit_project_path(@project) %></small>
          <% end %> 
          <h5><%= link_to 'Back to All Projects', projects_path %></h5>
        </div>
      </div>
            
    </div>
  </section> 

    <!--Clients Section-->
  <section id="team">
    <div class="container">  
      <div class="row-fluid">
        <div class="span12">
          <h2>Project Contributors:</h2>
        </div>
      </div>
      <div class="row-fluid">
        <!--Contributors-->
         <% @project.project_contributors.each do |project_contributor| %>
        <div class="span3">
          <% if !project_contributor.user.attachment.blank? %>
                  <%= image_tag project_contributor.user.attachment_url(:thumb) %>
                <% elsif !project_contributor.user.profile_image.blank? %>  
                  <%= image_tag(project_contributor.user.profile_image, :size => "200x200") %>
                <% else %>
                  <%= image_tag("missing_profile.png", :size => "200x200") %>
                <% end %>
          <div class="title-box text-center">
            <p><%= project_contributor.user.name %></span></p>
          </div>
          
          <ul class="team-social-icons text-center">
              <li><a class="twitter" href="<%= project_contributor.user.twitter %>" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
              <li><a class="facebook" href="<%= project_contributor.user.github %>" target="_blank"><i class="icon-github icon-large"></i></a></li>
              <li><a class="instagram" href="<%= project_contributor.user.blog_url %>.com" target="_blank"><i class="icon-rss icon-large"></i></a></li>
              <li><a class="linkedin" href="<%= project_contributor.user.linkedin %>" target="_blank"><i class="icon-linkedin icon-large"></i></a></li>
          </ul>  
          <p><em>"<%= project_contributor.contribution  %>"</em></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/bottom_section' %>



